*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.start{
    height: 30px;
    width: 100%;
    /* border: 1px solid red ; */
    background-color: #f2f2f2;
}
.start h3{
    margin-left: 90%;
}
.nav{
height: auto;
width: 95%;
position: relative;
margin: auto;
 /* border: 1px solid red;  */
display: flex;
}
.logo>img{
    height:50px;
    width:50px;
    border-radius: 50%;
    margin: 8px;
    margin-left: 0;
   
}

.h1{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
}
.input>input{
     height:35px;
    width:100%; 
    margin: 23px 110px;
  
}
.button{
    margin-left: 30%;
   margin-top: 30px;
 
}
.button>button{
    margin-right: 45px;
    border: none; 
   background-color: white;  
   font-size: 15px;
   
}
.button>button i{
    margin-right: 2px;
}
.list ul{
     overflow: auto;
}
.list li{
    float:left;
    list-style: none;
    margin:10px 10px; 
    font-size: 13px;   
   
}
.list li>a:hover{
    text-decoration: none;
    background-color: rgb(244, 238, 238);
    cursor: pointer;
}
.list li>a{
    color: black;
    text-decoration: none;
    padding:10px 10px;
}
.next{
    width: 100%;
    height:110px;
    /* border: 1px solid red; */
    background-color: #f2f2f2;
}
.next h5{
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 15px;
    color: black;
}
.next i{
    padding-right:7px ;
}
.small{
    height: 50px;
    width: 100%;
    /* border: 1px solid red ; */
    background-color: #cccccc;
}
.small:hover{
    background-color: #f2f2f2;
}
.small h4{
    padding-left:15%;
    padding-top: 15px;
}

/* slide show */
.slider-box{
    width:100%;
    height:100%;
    position: relative;
    /* border: 5px solid red; */
    overflow: hidden; 
    
}

#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.5s ease;
     
}
#slider img{
    width: 100%;

}
.indicators{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.indicators span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}
.indicators span:hover{
    background-color:black;
}

.text{
    color: white;
    padding:120px 20%;
    position: absolute;
    top:8px;
    font-size: 40px;
    width: 100%;
    text-align: right;

}
.p{
    margin-top: 10px;
    font-size: 18px;
    margin-left: 60%;
    text-align: left;
    margin-bottom: 10px;
}
.shop{
   
    padding:12px 30px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    margin-right: 20%;
}
.h4{
    margin-left: 140px;
    font-size: 30px;
}
